{% extends '_layouts/public.html.twig' %}

{% block title %}New Password{% endblock %}

{% block content %}
<div class="box span-17 last">
    <h2>New Password</h2>
    <p>Type in your new password below.</p>
    <p>
        <strong>If you are using icommands, please see this important <a href="https://pods.iplantcollaborative.org/wiki/display/start/Resetting+Your+Password">note about icommands and password resets </a></strong>.
    </p>

    <div class="span-16 last">
        {{ form_errors(form) }}
    </div>

    <form action="{{ action }}" method="POST" id="reset_password" enctype="multipart/form-data" accept-charset="UTF-8">
        <div class="span-16 last">
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
            <p class="help-block">Pasted passwords may not work.</p>
            <p class="help-block">Optional special characters may only be: !, @, #, $, %, ^, &, *, ?, _, ~</p>
        </div>

        <div class="span-16 last">
            {{ form_rest(form) }}
        </div>

        <div class="span-16 last prepend-top">
            <input type="submit" value="Save New Password" />
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
    $("#account_password_password").simplePassMeter({
        'showOnFocus': false,
        'requirements': {
            'matchField': {
                'value': '#person_account_password_confirm_password'
            },
            'minLength': {'value': 8},  // at least 8 characters
            'numbers': { 'value': true },
            'lower': {'value': true},    // at least 1 lower-case letter
            'upper': {'value': true},    // at least 1 upper-case letter
            'special': {'value': false},   // at least 1 special character
            'noForbiddenCharacters': {
                'value': false,
                  'message': 'Only letters, numbers and certain optional special characters are allowed',
                  //!@#$%^&*?_~
                  'regex': '^[0-9a-zA-Z]$'
            }
        }
    });

    /** Prevent form submission without sufficient score */
    /* disable form submission */
    $('input[type=submit]').attr('disabled', 'disabled');
    $('input[type=submit]').addClass('disabled');

    $('#account_password_password').bind('score.simplePassMeter', function(jQEvent, score) {
        if ( score >= 35 ) {
            //re-enable form submission
            $('input[type=submit]').removeAttr('disabled');
            $('input[type=submit]').removeClass('disabled');
        } else {
            //redisable it all if the score is less than 35
            $('input[type=submit]').attr('disabled', 'disabled');
            $('input[type=submit]').addClass('disabled');
        }
    });

    $('form').submit(function(){
        // On submit disable its submit button
        $('input[type=submit]').attr('disabled', 'disabled');
    });
{% endblock %}
