{% extends '_layouts/public.html.twig' %}

{% block title %}Send Username{% endblock %}

{% block content %}
<div class="box span-17 last">
    <h2>Send Your Username to Your Email</h2>
    <p>Enter the email address you registered with to receive an email which contains your username.</p>
    <div class="span-14 prepend-1 append-1 last">
        {{ form_errors(form) }}
    </div>

    <form action="{{ action }}" method="post" id="request_username" enctype="multipart/form-data" accept-charset="UTF-8">
        <div class="span-6 prepend-3 append-3 last append-bottom">
            {{ form_label(form.email, 'Email Address', { 'attr': {'class': 'required'} }) }}<br />
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}

            <p class="help-inline">This is the email you used to register with iPlant </p>
        </div>

        <div class="span-6 prepend-3 append-3 last append-bottom">
            {{ form_rest(form) }}

        </div>
        <div class="span-3 prepend-5 append-3 last">
            <input type="submit" value="Send Reminder" />
        </div>

    </form>
</div>
{% endblock content %}
